<br />
<div class = "container-fluid">
  <div class = "row">
    <img class="about-banner" src="http://i.imgur.com/yKiEPhQ.png" alt="story">
  </div>
</div>
  <br /><br />
  <div class = "container">
  <div class = "row">
    <div class = "col-md-6 bubi text-center">
      <%=image_tag('http://i.imgur.com/WjGeU27.jpg')%>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class = "col-md-6 zeyda text-center">
      <%=image_tag('http://i.imgur.com/IulSm39.jpg')%>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <br />
  <h3 class="text-center">Examples of Past Art</h3>
  <div class="row">
    <div class = "col-md-4">
      <img class="about-images  store-pic" src="http://i.imgur.com/nD6Ntxy.png" alt="Jewish thing">
    </div>
    <div class = "col-md-4">
      <img class="about-images  store-pic" src="http://i.imgur.com/0E9n7XY.png" alt="Jewish thing">
    </div>
    <div class = "col-md-4">
      <img class="about-images  store-pic" src="http://i.imgur.com/8NsiLhm.png" alt="Jewish thing">
    </div>
  </div>
</div>
