// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* General */
html, body {
  height: 100%;
  margin: 0;
}

body {
  // background-image: url('http://i.imgur.com/ijtj4sC.png');
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Source Sans Pro', sans-serif;
}

.confirm{
  background-color: lightgray;
  padding:30px;
  margin:0px;
  border:1px solid darkgray;
  padding-bottom:50px;
}
.navvy{
  background-color: #E3D0D0;
  font-size: 1.3em;
  font-family: 'Optima', sans-serif;
}
.nav a {
   color:black !important;
   opacity:.7;
}
.panel-footer{
  background-color: #F8D6A0;
}
.intro{
  font-style: italic;
  font-family: 'Optima', sans-serif;

}
.menorah-banner{
  opacity:.9;
  height:350px;
  width:100% !important;
}
.shop-small{
  position: absolute;
  font-size:3em;
  margin-top: -80px;
  margin-left: 420px;
  text-align: center;
  font-family: 'Optima', sans-serif;
  color: white;
  text-shadow:1px 1px 1px black;
}
.shop-words{
  position: absolute;
  font-size:12em;
  margin-top: -250px;
  margin-left: 85px;
  text-align: center;
  font-family: 'Optima', sans-serif;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.container {
  margin: 0 auto;
  width: 960px;
  font-family: 'Optima', sans-serif;
}



.total{
  padding:20px;
}
.home-banner{
  background-size: cover;
  width:100%;
  margin:0;
}
.nouns{
  // background-colorgray;
}

.noun{
  height:100px;
  width:100px;
  text-align: center;
  display: block;
  margin:0 auto;
}
.nouns-cont{
  padding:30px;
  background-color: #D1CEC2;
}
.review-link a:hover{
    background-color: white;
    text-decoration: none;
}
.trash-link a:hover{
  background-color: #D1CEC2;
  text-decoration: none;
}
.show-info {
  box-shadow: 2px 2px 2px 4px #F8D6A0;
}
.boxes a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.boxes-cont{
  position:relative;
  display:inline-block;
  margin:0 auto;
}
.remove-btn{
  font-size:20px;
  background:white;
  color:black;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
}
.add-btn {
  font-size: 20px !important;
   border-top: 1px solid #1092e3;
   background: #65a9d7;
   padding: 4px 6px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.add-btn:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: white;
   }

   .minus-btn {
     font-size: 20px !important;
      border-top: 1px solid #1092e3;
      background: #65a9d7;
      padding: 4px 9px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 10px;
      -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
      -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
      box-shadow: rgba(0,0,0,1) 0 1px 0;
      text-shadow: rgba(0,0,0,.4) 0 1px 0;
      color: white;
      font-family: Georgia, serif;
      text-decoration: none;
      vertical-align: middle;
      }
   .minus-btn:hover {
      border-top-color: #28597a;
      background: #28597a;
      color: white;
      }

.review-btn {
  font-size: 16px !important;
   border-top: 1px solid #1092e3;
   background: #65a9d7;
   padding: 10px 20px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.review-btn:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: white;
   }
.review-btn:active {
   border-top-color: #a14b1d;
   background: #EEA385;
   }
.btn {
  font-size: 26px !important;
   border-top: 1px solid #1092e3;
   background: #65a9d7;
   padding: 10px 20px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.btn:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: white;
   }
.btn:active {
   border-top-color: #a14b1d;
   background: #EEA385;
   }
.card{
  color:black;
  margin-top: 10px;
    margin-right:10px;
    margin-left: 10px;
  background-color: white;
  opacity:0.9;
  border: 2px solid;
  border-radius: 15px;
}
.card:hover{
  border:2px solid #F8D6A0//#ffa64d
}

.store-pic{
  width:250px;
  height:250px;
}

.show-pic{
  width:100%;
  height:100%;
}
.review-comments{
 margin:15px
}
.review-box{
  background-color:#D1CEC2;
  border-radius: 10px;
  font-family: 'Optima', sans-serif;

}
.show-text{
  color:black;
}
.order-image{
  width:150px;
  height:150px;
}
.about-images{
  width:270px;
  height:270px;
}
.about-banner{
  width:100%;
  height:100%;
  background-size: cover;

}
/* Main */
.main {
  color: #fff;
  position: relative;
  top: 100px;
  text-align: center;
}

.main h1 {
  font-size: 80px;
  font-weight: 300;
}

.main p {
  font-size: 30px;
}

@media screen and (max-width: 800px) {
    body {
        background-size: auto 100%;
    }
    .container {
        width: 100%;
    }
}
